<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.yeye.ohmykids.album.dao.AlbumDAO">
 	<!-- 사진을 저장하기 위해 useGeneratedKeys 활용 -->
 	<insert id="insertAlbum" parameterType="com.yeye.ohmykids.album.model.Album" useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO
 			`album`
 		(
 			`userId`
 			, `userName`
 			, `type`
 			, `kidsId`
 			, `kidsClass`
 			, `kidsName`
 			, `weather`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{userName}
 			, #{type}
 			, #{kidsId}
 			, #{kidsClass}
 			, #{kidsName}
 			, #{weather}
 			, #{content}
 			, now()
 			, now()
 		)
 	</insert>
 	<!-- 앨범리스트 -->
 	<select id="selectAlbumList" resultType="com.yeye.ohmykids.album.model.Album">
 		SELECT
 			`id`
 			, `userId`
 			, `userName`
 			, `type`
 			, `kidsId`
 			, `kidsClass`
 			, `kidsName`
 			, `weather`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`album`
 		ORDER BY `id` DESC
 	</select>
 	<!-- 앨범상세 -->
 	<select id="selectAlbumById" parameterType="map" resultType="com.yeye.ohmykids.album.model.Album">
 		SELECT
 			`id`
 			, `userId`
 			, `userName`
 			, `type`
 			, `kidsId`
 			, `kidsClass`
 			, `kidsName`
 			, `weather`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`album`
 		WHERE
 			`id` = #{id} 
 	</select>
 	<select id="selectAlbumByUserId" parameterType="map" resultType="com.yeye.ohmykids.album.model.Album">
 		SELECT
 			`id`
 			, `userId`
 			, `userName`
 			, `type`
 			, `kidsId`
 			, `kidsClass`
 			, `kidsName`
 			, `weather`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`album`
 		WHERE
 			`userId` = #{userId}
 	</select>
 	<update id = "updateAlbum" parameterType="map">
 		UPDATE 
 			`album`
 		SET
 			<if test = "content != null">
 			 `content` = #{content}
 			</if>
 		WHERE
 			`id` = #{id}
 	</update>
 	<delete id="deleteAlbum" parameterType="map">
 		DELETE FROM	`album`
 		WHERE 
 			`id` = #{id}
 			AND `userId` = #{userId}
 	</delete>
 	<!-- 파일삭제 -->
 	<select id="selectAlbum" parameterType="int" resultType="com.yeye.ohmykids.album.model.Album">
 		SELECT
 			`id`
 			, `userId`
 			, `userName`
 			, `type`
 			, `kidsId`
 			, `kidsClass`
 			, `kidsName`
 			, `weather`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`album`
 		WHERE
 			`id` = #{id}
 	</select>
 
 </mapper>
 
 
 