<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.yeye.ohmykids.imagefile.dao.ImageFileDAO">
 	<insert id="insertImageFiles" parameterType="list">
 		INSERT INTO
 			`imagefile`
 		(
 			`userId`
 			, `type`
 			, `targetId`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
 		<foreach collection = "imageFiles" item = "imagefile" separator=",">
 		(
 			#{imagefile.userId}
 			,#{imagefile.type}
 			,#{imagefile.targetId}
 			,#{imagefile.imagePath}
 			,now()
 			,now()
 		)
 		</foreach>
 	</insert>
 	<select id="selectImageFiles" resultType="com.yeye.ohmykids.imagefile.model.ImageFile">
 		SELECT 
 			`id`
 			, `userId`
 			, `type`
 			, `targetId`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM 
 			`imagefile`
 		WHERE
 			`targetId` = #{targetId}
 			AND
 			`type` = #{type}
 	</select>
 	<update id="updateImageFiles" parameterType="map">
 		UPDATE
 			`imagefile`
 		SET
 			<foreach collection = "imageFiles" item = "imagefile" separator=",">
 			`userId` = #{imagefile.userId}
 			,`type` = #{imagefile.type}
 			,`targetId` = #{imagefile.targetId}
 			<if test = "imagePaht != null">
 			,`imagePath` = #{imagefile.imagePath}
 			</if>
 			</foreach>
 		WHERE
 			`id` = #{id}
 	</update>
 	<select id = "selectImageFile" resultType="com.yeye.ohmykids.imagefile.model.ImageFile">
 		SELECT 
 			`id`
 			, `userId`
 			, `type`
 			, `targetId`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM 
 			`imagefile`
 		WHERE
 			`targetId` = #{targetId}
 			AND
 			`type` = #{type}
 	
 	</select>
 	<delete id="deleteImageWithAlbum" parameterType="map">
 		DELETE FROM 
 			`imagefile`
 		WHERE
 			`id` = #{id}
 			AND
 			`type` = #{type}
 	</delete>
 
 </mapper>