<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.yeye.ohmykids.imagefile.dao.ImageFileDAO">
 	<insert id="insertImgeFiles" parameterType="map">
 		INSERT INTO
 			`imagefile`
 		(
 			`userId`
 			, `type`
 			, `targetId`
 			, `imagePath
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{type}
 			, #{targetId}
 			<foreach collection = "filePathList" item = "imagePath" open="(" close=")" separator=",">
 			, #{imagePath}
 			</foreach>
 			, now()
 			, now()
 		)
 	</insert>
 
 
 </mapper>