<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.yeye.ohmykids.user.kidsinfo.dao.KidsInfoDAO">
 	<insert id="insertKidsInfo" parameterType="map">
 		INSERT INTO
 			`kidsinfo`
 		(
 			`userId`
 			, `userName`
 			, `kidsName`
 			, `kidsBirth`
 			, `kidsGender`
 			, `kidsClass`
 			, `relationship`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		)VALUES
 		(
 			#{userId}
 			, #{userName}
 			, #{kidsName}
 			, #{kidsBirth}
 			, #{kidsGender}
 			, #{kidsClass}
 			, #{relationship}
 			, #{imagePath}
 			, now()
 			, now()
 		)
 	</insert>
 
 </mapper>