<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.yeye.ohmykids.user.kidsinfo.dao.KidsInfoDAO">
 	<insert id="insertKidsInfo" parameterType="map">
 		INSERT INTO
 			`kidsinfo`
 		(
 			`userId`
 			, `userName`
 			, `kidsName`
 			, `kidsBirth`
 			, `kidsGender`
 			, `kidsClass`
 			, `relationship`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		)VALUES
 		(
 			#{userId}
 			, #{userName}
 			, #{kidsName}
 			, #{kidsBirth}
 			, #{kidsGender}
 			, #{kidsClass}
 			, #{relationship}
 			, #{imagePath}
 			, now()
 			, now()
 		)
 	</insert>
 	<!-- 자녀정보수정 -->
 	<update id="updateKidsInfo" parameterType="map">
 		UPDATE
 			`kidsinfo`
 		SET
 			`kidsName` = #{kidsName}
 			, `kidsBirth` = #{kidsBirth}
 			, `kidsGender`= #{kidsGender}
 			, `kidsClass` = #{kidsClass}
 			, `relationship` = #{relationship}
 				<if test = "imagePath != null">
 			, `imagePath` = '%'||#{imagePath}||'%'
 				</if>
 		WHERE
 			`id` = #{id}
 	</update>
 	<!-- 자녀목록 -->
 	<select id="selectKidsInfoList" parameterType="int" resultType="com.yeye.ohmykids.user.kidsinfo.model.KidsInfo" >
 		SELECT
 			`id`
 			, `userId`
 			, `userName`
 			, `kidsName`
 			, `kidsBirth`
 			, `kidsGender`
 			, `kidsClass`
 			, `relationship`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`kidsinfo`
 		WHERE
 			`userId` = #{userId}
 		ORDER BY `id` 
 	</select>
 	<!-- 자녀목록(반정보 중복없이 보기) -->
 	<select id="selectKidsInfoListByClass" parameterType="int" resultType="com.yeye.ohmykids.user.kidsinfo.model.KidsInfo" >
 		SELECT
 			`id`
 			, `userId`
 			, `userName`
 			, `kidsName`
 			, `kidsBirth`
 			, `kidsGender`
 			, `kidsClass`
 			, `relationship`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`kidsinfo`
 		WHERE
 			`userId` = #{userId}
 		GROUP BY `kidsClass`
 	</select>
 	
 	<!-- 자녀정보리스트(반 선택에 따른 이름정보 보기)-->
 	<select id="selectKidsInfoName" parameterType="int" resultType="com.yeye.ohmykids.user.kidsinfo.model.KidsInfo" >
 		SELECT
 			`id`
 			, `userId`
 			, `userName`
 			, `kidsName`
 			, `kidsBirth`
 			, `kidsGender`
 			, `kidsClass`
 			, `relationship`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`kidsinfo`
 		WHERE
 			`kidsClass` = #{kidsClass}
 		ORDER BY `kidsName` 
 	</select>
 	
 	
 	<!-- 자녀정보 상세 -->
 	<select id="selectKidsInfo" parameterType="map" resultType="com.yeye.ohmykids.user.kidsinfo.model.KidsInfo">
 		SELECT
 			`id`
 			, `userId`
 			, `userName`
 			, `kidsName`
 			, `kidsBirth`
 			, `kidsGender`
 			, `kidsClass`
 			, `relationship`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`kidsinfo`
 		WHERE
 			`userId` = #{userId}
 			AND `id` = #{id}
 	</select>
 
 </mapper>