<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.yeye.ohmykids.note.dao.NoteDAO">
 	<insert id="insertNote" parameterType="map">
 		INSERT INTO
 			`note`
 		(
 			`userId`
 			, `userName`
 			, `kidsId`
 			, `kidsClass`
 			, `kidsName`
 			, `weather`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{userName}
 			, #{kidsId}
 			, #{kidsClass}
 			, #{kidsName}
 			, #{weather}
 			, #{content}
 			, #{imagePath}
 			, now()
 			, now()
 		)
 	</insert>
 	<!-- 알림장 insert 후 id select하기 -->
 	<select id="selectNote" parameterType="int" resultType="com.yeye.ohmykids.note.model.Note">
 		SELECT
 			`id`
 			,`userId`
 			, `userName`
 			, `kidsId`
 			, `kidsClass`
 			, `kidsName`
 			, `weather`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`note`
 		WHERE
 			`id`= #{id}
 	</select>
 	<!-- 알림장 리스트 -->
 	<select id="selectNoteList" resultType="com.yeye.ohmykids.note.model.Note">
 		SELECT
 			`id`
 			,`userId`
 			, `userName`
 			, `kidsId`
 			, `kidsClass`
 			, `kidsName`
 			, `weather`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`note`
 		ORDER BY `id` DESC
 	</select>
 	<!-- 알림장 상세 -->
 	<select id="selectNoteById" parameterType = "map" resultType="com.yeye.ohmykids.note.model.Note">
 		SELECT
 			`id`
 			,`userId`
 			, `userName`
 			, `kidsId`
 			, `kidsClass`
 			, `kidsName`
 			, `weather`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`note`
 		WHERE
 			`userId` = #{userId}
 			AND `id` = #{id} 	
 	</select>
 	<update id="updateNote" parameterType="map">
 		UPDATE
 			`note`
 		SET
 			`weather` = #{weather}
 			`content` = #{content}
 			`imagePath` = #{imagePath}
 		WHERE
 			`id` = #{id}
 	
 	</update>
 	<delete id="deleteNote" parameterType="map">
 		DELETE FROM `note`
 		WHERE
 			`id` = #{id}
 			AND `userId` = #{userId} 	
 	</delete>
 	
 
 </mapper>