<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.yeye.ohmykids.schedule.dao.ScheduleDAO">
 	<insert id="insertSchedule" parameterType="map">
 		INSERT INTO
 			`schedule`
 		(
 			`userId`
 			, `userName`
 			, `userType`
 			, `kidsClass`
 			, `title`
 			, `start`
 			, `end`
 			, `description`
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{userName}
 			, #{userType}
 			, #{kidsClass}
 			, #{title}
 			, #{start}
 			, #{end}
 			, #{description}
 			, now()
 			, now() 
 		)
 	</insert>
 
 
 </mapper>