@charset "UTF-8";

#wrap{
	height : 800px;
	width:1200px;
	margin:auto;
}

.title-text{
	color:#088A29;
}

.yellow-text{
	color: #F3F781;
}

.btn-green{
	background-color:#088A29;
	color:white;
}

.btn-white{
	color:#088A29;
	background-color:white;
}

.btn-yellow{
	color: #088A29;
	background-color:#F3F781;
}

.btn-info{
	color: white;
	background-color:#58ACFA;
}

.box{
	border :1px solid #088A29;
}

.navbar{
	border-bottom :1px solid #088A29;
}

hr{
	background-color:#088A29;
}

.border{
	border :1px solid #088A29;
}

header{
	height : 80px;
}

nav{
	height : 70px;
}

.nav-link:hover{
	background-color:#088A29;
	color:white;
	font-weight :bold;
}

.dropdown-item:hover{
	background-color:#088A29;
	color:white;
	font-weight :bold;
}

.rainbow {
  content: "";
  left: 0px;
  right:0px;
  bottom: 0px;
  height: 7px;
  background-image: -webkit-linear-gradient(0deg, #F78181 40px, #BEF781 40px, #BEF781 70px,#58ACFA 70px, #58ACFA 100px, #9b59b6 100px,#9b59b6 130px,#BDBDBD 130px,#BDBDBD 160px,#F3F781 160px,#F3F781 190px,#58FAD0 190px,#58FAD0 220px,#FE642E 220px,#FE642E 250px,#DA81F5 250px,#DA81F5 280px,#886A08 280px,#886A08 310px,#088A29 310px,#088A29 340px);
  background-size: 340px;
}

section{
	height : 700px;
}

.sign-section{
	width : 500px;
	height : 600px;
	border :1px solid #088A29;
	border-radius: 10px;
}
.page-section{
	width : 500px;
	height : 600px;
	border :1px solid #088A29;
	border-radius: 0px 0px 10px 10px;
}

.submenu-bar{
	width : 500px;
	height : 50px;
	color:#F3F781;
	background-color: #088A29;
	border-radius: 10px 10px 0px 0px ;
}

.writerInfo-secton{
	width : 500px;
	height : 80px;
	border :1px solid #088A29;
	color:#088A29;
}

.studentInfo-secton{
	width : 500px;
	height : 50px;
	border :1px solid #088A29;
	color:#088A29;
}

.note-section{
	width : 500px;
	height : 450px;
	border :1px solid #088A29;
	border-radius: 0px 0px 10px 10px ;
}

.note-contraction{
	width : 500px;
	height : 150px;
	border-top:1px solid #088A29;
	color:#088A29;
}

.picture-box{
	width: 200px;
	height: 200px;
}
.picture{
	width : 150px;
	height : 150px;
	border :1px solid #088A29;
	border-radius: 80px 80px 80px 80px ;
	overflow:hidden;
    margin:0 auto;
}

.picture-square {
	width : 150px;
	height : 150px;
	border :1px dashed #088A29;
	border-radius: 10px 10px 10px 10px ;
	overflow:hidden;
    margin:0 auto;
}

.picture-square-sm{
	width : 100px;
	height : 100px;
	border :1px dashed #088A29;
	border-radius: 10px 10px 10px 10px ;
	overflow:hidden;
    margin:0 auto;
}

.imagethumbnail{
	width: 150%; 
	height: auto;
    object-fit:cover;
    border :0px solid white;
}

.info-box{
	width: 400px;
	height: 300px;
}
.kidsInfo{
	border :1px solid #088A29;
	border-radius: 10px 10px 10px 10px ;
}

footer{
	height : 80px;
}